@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');

body{
    background-image: url("brown-mustard-abstract-background.jpg");
}
#head{

    font-family:Questrial;
    font-size:60px;
    margin-top:-4px
    
}


.block1{

    position: relative;
}
.block1 img{
    border-radius: 50%;
    width:150px;
    height: 150px;
}
.block2 img{
    border-radius: 50%;
    width:150px;
    height: 150px;  
}
.block3 img{
    border-radius: 50%;
    width:150px;
    height: 150px; 
}
.block4 img{
    border-radius: 50%;
    width:150px;
    height: 150px; 
}
.block5{
    font-family: Questrial;
    background-color: beige;
    width: 250px;
    height:200px;
    border-radius: 30px 10px 30px 10px;
    padding: 40px; 
    margin-top: -20px;
    margin-left: -65px;
    position: absolute;
    z-index: -1;
    text-align:center;
}


.block6{
    background-color: beige;
    width:250px;
    height:200px;
    border-radius: 30px 10px 30px 10px;
    padding: 40px; 
    margin-top: -20px;
    margin-left: -65px;
    position: absolute;
    z-index: -1;
    font-family: Questrial;
    text-align: center;
}
.block7{
    background-color: beige;
    width:250px;
    height:200px;
    border-radius: 30px 10px 30px 10px;
    padding: 40px; 
    margin-top: -20px;
    margin-left: -65px;
    position: absolute;
    z-index: -1;
    font-family: Questrial;
    text-align: center;
}
.block8{
    background-color: beige;
    width:260px;
    height:200px;
    border-radius: 30px 10px 30px 10px;
    padding: 40px; 
    margin-top: -20px;
    margin-left: -65px;
    position: absolute;
    z-index: -1;
    font-family: Questrial;
    text-align: center
}
.block8 p{
    margin-left: -10px
}